 
			
<div class="left" style="border:none;">

	<div class="icontact">{YP:block pos="about" /}</div>

	<div class="h10"></div>
	<div class="iProduct">
	<h2 class="tit"><span><a href="{$Categorys[$T[m_product_catid]]['url']}">{:L(more)}>></a></span><b>{$Categorys[$T[m_product_catid]]['catname']}</b></h2>
	<ul class="pic">
		{YP:list  order="id desc" catid="$T[m_product_catid]" limit="8"}
			{loop $data $r}
				<li><span><a href="{$r[url]}" target="_blank"><img src="{thumb($r['thumb'])}"></a></span><a href="{$r.url}" target="_blank">{$r.title}</a></li>
			{/loop}
		{/YP}
	</ul></div>

	<div class="h10"></div>
	<div class="inews">
	<h2 class="tit"><span><a href="{$Categorys[$T[m_news_catid]]['url']}">{:L(more)}>></a></span><b>{$Categorys[$T[m_news_catid]]['catname']}</b></h2>
	<div class="ilist"><ul class="txt">
		{YP:list order="id desc" catid="$T[m_news_catid]" limit="12"}
			{loop $data $r}
			<li><a href="{$r.url}" target="_blank">{str_cut($r[title],40,'..')}</a></li>
			{/loop}
		{/YP} 
		</ul>
	</div></div>
</div>
