{template header}

		{__CONTENT__}

<div class="right">
	<div class="box"><div class="b1 catlist">
	<h3 class="tit"><span><a href="{$Categorys[$T[m_product_catid]]['url']}">{:L(more)}>></a></span><b>{$T[right_name_1]}</b><em>Product</em></h3>
	{YP:nav  catid="$T[m_product_catid]" level="2" id="catlist" /}
	</div></div>

	<div class="h10"></div>
	<div class="box"><div class="b1 contact">
	<h3 class="tit"><span><a href="{$Categorys[$T[m_contact_catid]]['url']}">{:L(more)}>></a></span><b>{$T[right_name_2]}</b><em>contact</em></h3>
	<ul>{YP:block pos="contact" /}</ul>
	</div></div>



	<div class="h10"></div>
	<div class="box"><div class="b1 contact">
	<h3 class="tit"><span><a href="{TAGURL()}">{:L(more)}>></a></span><b>{:L(tags)}</b><em>Tags</em></h3>
	<ul>
	{YP:tags moduleid="2" list="0"}
		{loop $data $r}
		<a href="{TAGURL($r)}">{$r.name}</a>&nbsp;
		{/loop} 
	{/yp} 
	</ul>
	</div></div>


	<div class="h10"></div>

	<div class="box"><div class="b1 links">
	<h3 class="tit"><span></span><b>{$T.right_name_3}</b><em>links</em></h3>
	<div class="h10"></div>
		<ul class="pic">
		{YP:list m="Link" where="linktype=2"}
			{loop $data $r}
			<li><a href="{$r['siteurl']}" target="_blank" title="{$r['name']}"><img src="{$r['logo']}" alt="{$r['name']}"></a></li> 
			{/loop}
		{/YP}
		</ul>
		<ul class="txt"> 
		{YP:list m="Link" where="linktype=1"}
			{loop $data $r}
				<li><a href="{$r['siteurl']}" target="_blank">{$r['name']}</a></li>
			{/loop}
		{/YP}
		</ul>
	<div class="h10"></div>
	</div></div>

	<div class="c"></div>
	<div class="h10"></div>
</div>
{template footer}

